@import "tailwindcss";

/* for global styles */
html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

/* for page transition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.4s ease-out;
}

/* for page transitions */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 0.4s ease-out forwards;
}


/* for modal */
@keyframes modalEnter {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.98);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.animate-modalEnter {
    animation: modalEnter 0.25s ease-out;
}